.site-content {
   // set flex-shrink to 0 for all browsers
   // fit entire parent flex, don't shrink, space oneself automatically
   flex: 1 0 auto;
   width: 100%;
}

.site-content::after {
   content: '\00a0'; // non breakable space
   display: block;
   margin-top: $space;
   height: 0px;
   visibility: hidden;
}

.container {
   max-width: 60em;
   margin: 0 auto;
   height: 100%;
}

// ============================================================================
// FLEX BOXES
// ============================================================================

.grid {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   // height: 100%;
}

.grid-full {
   height: 100%;
   > .grid-cell {
      flex: 0 0 100%;
   }
}

.bio-grid {
   @extend .grid-full;
   // justify-content: space-between;
}

.section1 {
   height: 100vh;
}

.section2 {
   height: 100vh;
   padding-top: 20px;
   padding-bottom: 20px;
}

.top-align {
   align-self: flex-start;
}

.bottom-align {
   align-self: flex-end;
   // text-align: center;
}

.center-align {
   align-self: center;
}

.bio-title {
   font: $font-title;
   margin: 0;
}

.bio-title-sm {
   font: $font-title-sm;
   margin: 0;
   > span {
      font: $font-title-span;
      margin-right: 1em;
   }
}

.title-anim {
   text-align: center;
   font: $font-title-anim;
}

.title-right {
   text-align: right;
}

// .title-justify {
//    text-align: justify;
// }

// .title-justify:after {
//   content: "";
//   display: inline-block;
//   width: 100%;
// }
.paragraph {
   align-text: justify;
}

// .top-right {
//    text-align: right;
//    align-self: flex-end;
// }


// .num-grid {
//    @extend .grid;
//    justify-content: flex-end;
//    height: 8rem;
//    overflow: hidden;
//    white-space: nowrap;
// }
.grid-cell {
   flex: 1;
}

// .num-cell {
//    flex: 0 0 16.6666%;
//    align-self: flex-end;
// }

.media-cell {
   margin: 1rem;
   // &:hover {
   //  opacity: 0.3;
   // }
   position: relative;
   // padding: 5px;
   > img {
      display: block;
      opacity: 1.0;
      // &:hover {
      //    opacity: 0.2;
      //    filter: alpha(opacity=20); /* For IE8 and earlier */
      // }
   }
}

.media-overlay {
   position: absolute;
   background-color: red;
   max-width: 100%;
   max-height: 100%;
   min-height: 100%;
   min-width: 100%;
   z-index: 100;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   display: block;
   &:hover {
      background-color: white;
      opacity: 0.2;
      filter: alpha(opacity=20); /* For IE8 and earlier */
   }
}

// .grid-gutters {
//    margin: -1em 0 1em -1em;
//    > .grid-cell{
//       padding: 1em 0 0 1em;
//    }
// }

// .media-cell.media-overlay:hover {
//    background-color: white;
// }


@media screen and (min-width: $width-med) {
   .container {
      max-width: 40em;
   }
   .section2 {
      padding-top: 8em;
      padding-bottom: 8em;
   }

   .bio-title {
      font: $font-title-tablet;
      margin: 0;
   }

   .bio-title-sm {
      font: $font-title-sm-tablet;
      margin: 0;
      > span {
         font: $font-title-span-tablet;
      }
   }

   .title-anim {
      text-align: center;
      font: $font-title-anim-tablet;
   }

   .media-grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
   }

   .media-cell {
      width: calc(50% - 2rem);
   }
}

// Desktops and laptops
@media screen and (min-width: $width-lg) {
   .container {
      max-width: 60em;
   }

   .section2 {
      padding-top: 2em;
      padding-bottom: 2em;
   }

   .bio-title {
      font: $font-title-lg;
      margin: 0;
   }

   .bio-title-sm {
      font: $font-title-sm-lg;
      margin: 0;
      > span {
         font: $font-title-span-lg;
      }
   }

   .title-anim {
      text-align: center;
      font: $font-title-anim-lg;
   }

   .media-cell {
      width: calc(33.3333% - 2rem);  // could also put 33.333%
   }
}

// Large screens
@media screen and (min-width: $width-exlg) {

}
// .media-grid {
//    height: 100%;
//    width: 100%;
//    max-height: 100%;
//    max-width: 100%;
//    min-height: 0;
//    justify-content: center;
// }










// .grid-cell-col{
//    flex: 1 0 auto;
//    width: 100%;
// }




// .media-grid-gutters {
//    margin: -1em 0 1em -1em;
//    > .grid-cell{
//       padding: 1em 0 0 1em;
//    }
// }

// ============================================================================
// BLOCK DIVS AND SPECIFIC STYLES
// ============================================================================
.cell-wrapper {
   width: 100%;
   padding: .8em 1em 0;
   text-align: center;
   // background-color: gray;
}

.cell-wrapper::after {
   content: '\00a0';
   display: block;
   margin-top: 1em;
   height: 0px;
   visibility: hidden;
}

.cell-wrapperbasic {
   width: 100%;
   // padding: .8em 1em 0;
   text-align: center;
   // background-color: gray;
}

.cell-wrapperbasic::after {
   content: '\00a0';
   display: block;
   // margin-top: 1em;
   height: 0px;
   visibility: hidden;
}

.responsive-img {
   max-width: 100%;
}

// .tech-intro {
//    background-image: url("../images/battleglitch3.jpg");
//    background-color: white;
//    // padding-bottom: 100%;
//    // width: 100%;
// }

// .page-num-wrapper {
//    // required for text-overflow to do anything
//    white-space: nowrap;
//    overflow: hidden;
// }
// .page-num {
//    text-overflow: clip;
//    font: $font-page-num;
//    line-height: 0;
//    // by default h1 has margins
//    // margin: 0;
//    margin-bottom: 0.6em;
//    white-space: nowrap;
// }


