.site-content {
   // set flex-shrink to 0 for all browsers
   // fit entire parent flex, don't shrink, space oneself automatically
   flex: 1 0 auto;
   width: 100%;
}

.site-content::after {
   content: '\00a0'; // non breakable space
   display: block;
   margin-top: $space;
   height: 0px;
   visibility: hidden;
}

.container {
   max-width: 40em;
   margin: 0 auto;
   height: 100%;
   @include for-tablet-landscape {
      max-width: 50em;
   }
   @include for-desktop {
      max-width: 70em;
   }
   @include for-lg-desktop {
      max-width: 120em;
   }
}

// ============================================================================
// FLEX BOXES
// ============================================================================

.grid {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
   // height: 100%;
}

.grid-cell {
   flex: 1;
}

.grid-full {
   height: 100%;
   > .grid-cell {
      flex: 0 0 100%;
   }
}

.media-grid {
   @include for-tablet-portrait {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
   }
}

.media-cell {
   margin: 1rem;
   position: relative;
   > img {
      display: block;
      opacity: 1.0;
   }
   @include for-tablet-portrait {
      width: calc(50% - 2rem);
   }
   @include for-tablet-landscape {
      width: calc(33.3333% - 2rem);
   }
}
// .media-grid-gutters {
//    margin: -1em 0 1em -1em;
//    > .grid-cell{
//       padding: 1em 0 0 1em;
//    }
// }

.bio-grid {
   @extend .grid-full;
   // justify-content: space-between;
}

.section1 {
   height: 100vh;
}

.section2 {
   height: 100vh;
   padding-top: 8em;
   padding-bottom: 8em;
   @include for-desktop {
      padding-top: 6em;
      padding-bottom: 4em;
   }
}

.top-align {
   align-self: flex-start;
}

.bottom-align {
   align-self: flex-end;
}

.center-align {
   align-self: center;
}

.bio-title {
   font: $font-title;
   margin: 0;
   @include for-tablet-landscape {
      font: $font-title-tablet;
   }
   @include for-desktop {
      font: $font-title-lg;
   }
}

.bio-title-sm {
   font: $font-title-sm;
   margin: 0;
   > span {
      font: $font-title-span;
      margin-right: 1em;
   }
   @include for-tablet-landscape {
      font: $font-title-sm-tablet;
      // margin: 0;
      > span {
         font: $font-title-span-tablet;
      }
   }
   @include for-desktop {
      font: $font-title-sm-lg;
      > span {
         font: $font-title-span-lg;
      }
   }
}

.title-anim {
   text-align: center;
   font: $font-title-anim;
   @include for-tablet-landscape {
      font: $font-title-anim-tablet;
   }
   @include for-desktop {
      font: $font-title-anim-lg;
   }
}

.title-right {
   text-align: right;
}

.paragraph {
   align-text: justify;
}

// .num-grid {
//    @extend .grid;
//    justify-content: flex-end;
//    height: 8rem;
//    overflow: hidden;
//    white-space: nowrap;
// }


// .num-cell {
//    flex: 0 0 16.6666%;
//    align-self: flex-end;
// }



.media-overlay {
   position: absolute;
   // background-color: pink;
   max-width: 100%;
   max-height: 100%;
   min-height: 100%;
   min-width: 100%;
   z-index: 100;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   // display: block;
   display: flex;
   align-items: center;
   justify-content: center;
   > h3 {
      opacity: 0;
   }
   &:hover {
      + img {  // targets sibling img
         opacity: 0.2;
         filter: alpha(opacity=20); /* For IE8 and earlier */
      }
      > h3 {
         opacity: 1;
      }

   }
}


// ============================================================================
// BLOCK DIVS AND SPECIFIC STYLES
// ============================================================================
.cell-wrapper {
   width: 100%;
   padding: .8em 1em 0;
   text-align: center;
   // background-color: gray;
}

.cell-wrapper::after {
   content: '\00a0';
   display: block;
   margin-top: 1em;
   height: 0px;
   visibility: hidden;
}

.cell-wrapperbasic {
   width: 100%;
   // padding: .8em 1em 0;
   text-align: center;
   // background-color: gray;
}

.cell-wrapperbasic::after {
   content: '\00a0';
   display: block;
   // margin-top: 1em;
   height: 0px;
   visibility: hidden;
}

.responsive-img {
   max-width: 100%;
}

// .tech-intro {
//    background-image: url("../images/battleglitch3.jpg");
//    background-color: white;
//    // padding-bottom: 100%;
//    // width: 100%;
// }

// .page-num-wrapper {
//    // required for text-overflow to do anything
//    white-space: nowrap;
//    overflow: hidden;
// }
// .page-num {
//    text-overflow: clip;
//    font: $font-page-num;
//    line-height: 0;
//    // by default h1 has margins
//    // margin: 0;
//    margin-bottom: 0.6em;
//    white-space: nowrap;
// }


