ansicolors==1.0.2
appdirs==1.4.3
configparser==3.5.0
Django==1.11
django-dotenv==1.4.1
django-gulp==2.5.1
env-tools==2.0.0
futures==3.0.5
olefile==0.44
packaging==16.8
Pillow==4.1.0
psutil==4.3.0
pyparsing==2.2.0
pytz==2017.2
redis==2.10.5
six==1.10.0
sorl-thumbnail==12.3
South==1.0.2
tini==3.0.1
