*,
*::after,
*::before {
  // this pushes the padding and border inside the box
  // so width 100 px is actually 100px
   box-sizing: border-box;
}

h1 {
   font: $font-h1;
   color: $header-text;
   line-height: 1.25em;
}

h2 {
   font: $font-h2;
   color: $header-text;
   line-height: 1.15384615em;
   // margin: 0 0 1.12528em;
}

h3 {
   font: $font-h3;
   color: $header-text;
   line-height: 1.13636364em;
}

p {
   font: $font-body;
   margin: 0 0 1.5em;
   text-decoration: none;
   color: $paragraph-font;
   // line-height: 1.25em;
}

a {
   text-decoration: none;
   font: $font-nav-mobile;
   color: black;
}

@media screen and (min-width: $width-med) {
   h1 {
      font: $font-h1-tablet;
      line-height: 1.125em;
   }
   h2 {
      font: $font-h2-tablet;
      line-height: 1.25em;
   }
   h3 {
      font: $font-h3-tablet;
      line-height: 1.25em;
   }
}

@media screen and (min-width: $width-lg) {
   h1 {
      font: $font-h1-lg;
      line-height: 1.05em;
   }
   h2 {
      font: $font-h2-lg;
      line-height: 1.25em;
   }
   h3 {
      font: $font-h3-lg;
      line-height: 1.25em;
   }
}
