{% block content %}
<div class="container section1">
  <div class="grid">
    <div class="grid-cell">
      <h1>Hello!</h1>
      <a href="/portfolio_project/">Project</a>
    </div>
  </div>
  <div class="grid">
    <div class="grid-cell">
      {% for project in projects %}
      <h2>{{ project.title }}</h2>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

{% extends 'base.html' %}

{% block title %}
  Homepage - {{ block.super }}
{% endblock title %}

<!-- {% block content %}
<div class="container section1">
  <div class="grid">
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid-cell">
      {% for project in projects %}
      <h2>
        <a href="{% url 'project_detail' slug=project.slug %}">{{ project.title }}
        </a>
      </h2>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container section2">
  <div class="media-grid">
    <div class="media-cell">
      <h1>Hello!</h1>
    </div>
    <div class="media-cell">
      <h1>Hello!</h1>
    </div>
    <div class="media-cell">
      <h1>Hello!</h1>
    </div>
  </div>
  <div class="media-grid">
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
  </div>
  <div class="media-grid">
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
  </div>
</div>
{% endblock content %} -->



