<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {% block title %}
        Stephanie McNiel
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css">
  </head>
  <body class="site">
    <header class="site-header">
      <div class="header">
        {% block header %}{% endblock header %}
      </div>
    </header>
    <main class="site-content">
      {% block content %}{% endblock content %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="{% static '/scripts/main.js' %}"></script>
  </body>
</html>
