{% extends 'base.html' %}

{% block title %}
  Homepage - {{ block.super }}
{% endblock title %}

{% block header %}
<nav id="nav-layout" role="navigation">
  <ul class="nav-menu">
    <li><a href="#about">About</a></li>
    <li><a href="#projects">Portfolio</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
{% endblock header %}

{% block content %}
<div class="container">
  <div class="grid">
    <div class="grid-cell">
      <h1>Hello!</h1>
    </div>
  </div>
  <div class="grid">
    <div class="grid-cell">
      {% for project in projects %}
      <h2>{{ project.title }}</h2>
      {% endfor %}
    </div>
  </div>
</div>
<div class="container section1">
  <div>
  {% for project in projects %}
    <h2>
      <a href="{% url 'project_detail' slug=project.slug %}">{{ project.title }}</a>
    </h2>
  {% endfor %}
  </div>
</div>
<div class="container section2">
  <div class="grid bio-grid">
    <div class="grid-cell top-align">
      <h1 class="bio-title title-right">DESIGN-</h1>
      <h1 class="bio-title">ER</h1>
    </div>
    <div class="grid-cell center-align">
      <h2 class="title-anim">I Make Things With Code.</h2>
    </div>
    <div class="grid-cell bottom-align">
      <h1 class="bio-title-sm title-right"><span>&</span>FULL STACK PROGRAMMER</h1>
    </div>
  </div>
</div>
<div class="container">
  <h2>PORTFOLIO</h2>
  <div class="media-grid">
  {% for project in projects %}
    <div class="media-cell">
      <div class="media-overlay">
        <h3>
          <a href="{% url 'project_detail' slug=project.slug %}">{{ project.title }}</a>
        </h3>
      </div>
      {% for photo in project.photos.all %}
        {% if photo.is_cover_photo %}
        <img src="{{ photo.image.url }}" class="responsive-img" alt="">
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  </div>
</div>
{% endblock content %}



