// =============================================================================
// Z Indexing
// =============================================================================
// $zOverlay: 1000;
// $zCanvas:  5000;

// =============================================================================
// Font Sizes and Leading
// =============================================================================
// based on http://typecast.com/blog/a-more-modern-scale-for-web-typography
$font-size-base: 16px;
$font-h1: 900 2em 'Roboto', sans-serif; // 32px
$font-h1-tablet: 900 2.5em 'Roboto', sans-serif;
$font-h1-lg: 900 3em 'Roboto', sans-serif;
// $font-header1-exlg: 900 8em 'Roboto', sans-serif; //
$font-page-num: 900 9em 'Roboto', sans-serif; // 144

$font-h2: 700 1.625em 'Roboto', sans-serif; // 26px
$font-h2-tablet: 700 2em 'Roboto', sans-serif;
$font-h2-lg: 700 2.25em 'Roboto', sans-serif;

$font-h3: 500 1.375em 'Roboto', sans-serif; // 22px
$font-h3-tablet: 500 1.5em 'Roboto', sans-serif;
$font-h3-lg: 500 1.75em 'Roboto', sans-serif;

$font-body: 400 .8em 'Lato', sans-serif;
$font-button: 400 .8em 'Lato', sans-serif;
// $font-nav: 500 .8em 'Roboto', sans-serif; //
$font-nav-mobile: 400 .8em 'Lato', sans-serif;
// =============================================================================
// Responsive Breakpoints
// =============================================================================

// $width-med: 600px;
$width-med: 767px; // for common 768 break
$width-lg: 1023px; // for common 1024 break
$width-exlg: 1824px;
// $width-mobile: 768px;

// =============================================================================
// Colors
// =============================================================================

$header-text: black;
$body-text: #fff;
$section1: #d4afa6;
$section-gray: #ebebeb; // lt gray
$paragraph-font: slate; // dk gray
$section-blue: #d1dbe5;
$section-kellygr: #2ec181;
$dkblue-gray: #323540;

// color combo
$pink: rgba(252, 221, 218, 1);
$peach: rgb(232, 196, 174);
$teal: rgb(94, 188, 170);
$gray-blue: rgb(74, 76, 97);
$lt-gray: rgb(181, 198, 205);

// #d4d5d0; // dk gray
// $player1-header: #dc4b69;
// $player2-header: #b9e2de; // darker #a7dbd6
// $player3-header: #29b89b;
// $player4-header: #033251;
// $player5-header: #d4d5d0; // gray darker #bcbdb9
// $whitecard-body: #fff;
// $blackcard-body: black;
// light blue c3d6dd
// light blue d1dbe5 this
// $li-hover: rgba(254, 73, 26, 1); // vermillion

$button: #7aced1; // light blue green
$link-hover: #e34241;

// =============================================================================
// Commonly used margins and padding
// =============================================================================

$space: 1.5em;
// $header-padding: 3em 1.5em;
$header-padding: 1em 0;

